[Unit]
Description=Daphne ASGI server (Clinic Project)
After=network.target

[Service]
Type=simple
User=root
Group=www-data
WorkingDirectory=/var/www/clinic_app/Backend
Environment=DJANGO_SETTINGS_MODULE=clinic_project.settings.prod
ExecStart=/var/www/clinic_app/Backend/venv/bin/daphne -b 127.0.0.1 -p 8000 clinic_project.asgi:application
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
